{% load static %}
{% block content %}
{% include 'header.html' %}




<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-4 "><span class= "type">LOGIN</span></h1>
    </div>
    <form action="ulogin" method="POST">
        {% csrf_token %}
    <div class="row gx-0 align-items-center">
        
        <div class="col-lg-6 form">
            
            <div class="contact-form bg-light p-5">
                
                <div class="row g-3">
                    <div class="col-12 ">
                        <input type="email" class="form-control border-0" name="email" placeholder="Enter Email" style="height: 55px;">
                    </div>
                    <div class="col-12 ">
                        <input type="password" class="form-control border-0" name="password" placeholder="Enter YOUR PASSWORD" style="height: 55px;">
                    </div>
                  
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3 btnrg" type="submit">LOGIN</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</form>
</div>
{% include 'footer.html' %}
   
{% endblock %}